<footer class="footer">
  <div class="container">
    <div class="parent">
      <div class="footer__nav">
        <p>Navigations</p>
        <ul class="footer__nav-list">
          <li class="footer__nav-item">Home</li>
          <li class="footer__nav-item">About</li>
          <li class="footer__nav-item">Appartments</li>
          <li class="footer__nav-item">Infrastructure</li>
          <li class="footer__nav-item">Gallery</li>
        </ul>
      </div>

      <div class="footer__contacts">
        <p>Contacts</p>
        <ul class="footer__contacts-list">
          <li class="footer__contacts-item">(406) 555-0120</li>
          <li class="footer__contacts-item">
            ul. Chodkiewicza Karola 111, Chorzów
          </li>
          <li class="footer__contacts-item">deanna.curtis@example.com</li>
        </ul>
      </div>

      <ul class="footer__socials">
        <li class="footer__socials-item">
          <a
            class="footer__icon link"
            href="https://youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg class="join-icon" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>

        <li class="footer__socials-item">
          <a
            class="footer__icon link"
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="join-icon" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="footer__socials-item">
          <a
            class="footer__icon link"
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <svg class="join-icon" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>

        <li class="footer__socials-item">
          <a
            class="footer__icon link"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="join-icon" width="20" height="20">
              <use href="./img/svg/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
